In [1]:
import pandas as pd

In [10]:
df=pd.read_csv('C:\\Users\\Akhilesh\\Downloads\\tennis.csv')
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

selection or indexing

1.df['colname']#single column
2.df['col1','col2']

In [11]:
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [12]:
df['outlook']

0        sunny
1        sunny
2     overcast
3        rainy
4        rainy
5        rainy
6     overcast
7        sunny
8        sunny
9        rainy
10       sunny
11    overcast
12    overcast
13       rainy
Name: outlook, dtype: object

In [13]:
df['temp']

0      hot
1      hot
2      hot
3     mild
4     cool
5     cool
6     cool
7     mild
8     cool
9     mild
10    mild
11    mild
12     hot
13    mild
Name: temp, dtype: object

In [14]:
### for two colums
df[['temp','humidity','windy']]

    temp humidity  windy
0    hot     high  False
1    hot     high   True
2    hot     high  False
3   mild     high  False
4   cool   normal  False
5   cool   normal   True
6   cool   normal   True
7   mild     high  False
8   cool   normal  False
9   mild   normal  False
10  mild   normal   True
11  mild     high   True
12   hot   normal  False
13  mild     high   True

## iloc based on index numbers
df.iloc[start_r_ind:end_r_ind:step,start_c_ind:end_c_ind:step]

In [15]:
df.head(2)

  outlook temp humidity  windy play
0   sunny  hot     high  False   no
1   sunny  hot     high   True   no

In [17]:
df.iloc[:,0]

0        sunny
1        sunny
2     overcast
3        rainy
4        rainy
5        rainy
6     overcast
7        sunny
8        sunny
9        rainy
10       sunny
11    overcast
12    overcast
13       rainy
Name: outlook, dtype: object

In [18]:
df.iloc[:,4]

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: play, dtype: object

In [19]:
df.iloc[0:,4]

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: play, dtype: object

In [23]:
df.iloc[:,0:1:2]

     outlook
0      sunny
1      sunny
2   overcast
3      rainy
4      rainy
5      rainy
6   overcast
7      sunny
8      sunny
9      rainy
10     sunny
11  overcast
12  overcast
13     rainy

row selection

iloc/loc(label1 based)

In [24]:
df.iloc[0:10,]

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes
5     rainy  cool   normal   True   no
6  overcast  cool   normal   True  yes
7     sunny  mild     high  False   no
8     sunny  cool   normal  False  yes
9     rainy  mild   normal  False  yes

In [25]:
df.iloc[1:8]

    outlook  temp humidity  windy play
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes
5     rainy  cool   normal   True   no
6  overcast  cool   normal   True  yes
7     sunny  mild     high  False   no

In [27]:
df.iloc[4]

outlook      rainy
temp          cool
humidity    normal
windy        False
play           yes
Name: 4, dtype: object

In [28]:
df.iloc[4,4]

'yes'

In [29]:
df.iloc[4,2]

'normal'

In [30]:
### hybrid
df.ix[4,2]

C:\Users\Akhilesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

'normal'

In [31]:
df.ix[0:10,1:3]

C:\Users\Akhilesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

    temp humidity
0    hot     high
1    hot     high
2    hot     high
3   mild     high
4   cool   normal
5   cool   normal
6   cool   normal
7   mild     high
8   cool   normal
9   mild   normal
10  mild   normal

In [32]:
df.ix[0:10,'outlook']

C:\Users\Akhilesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0        sunny
1        sunny
2     overcast
3        rainy
4        rainy
5        rainy
6     overcast
7        sunny
8        sunny
9        rainy
10       sunny
Name: outlook, dtype: object

In [33]:
df.ix[0:10,['outlook','temp']]

C:\Users\Akhilesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

     outlook  temp
0      sunny   hot
1      sunny   hot
2   overcast   hot
3      rainy  mild
4      rainy  cool
5      rainy  cool
6   overcast  cool
7      sunny  mild
8      sunny  cool
9      rainy  mild
10     sunny  mild

conditional based selection

In [34]:
df.head(2)

  outlook temp humidity  windy play
0   sunny  hot     high  False   no
1   sunny  hot     high   True   no

In [35]:
## temp=hot
df['temp']=='hot'

0      True
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
Name: temp, dtype: bool

In [36]:
df[df['temp']=='hot']

     outlook temp humidity  windy play
0      sunny  hot     high  False   no
1      sunny  hot     high   True   no
2   overcast  hot     high  False  yes
12  overcast  hot   normal  False  yes

In [37]:
## humidity ==noramal
df[df['humidity']=='normal']

     outlook  temp humidity  windy play
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
12  overcast   hot   normal  False  yes

In [38]:
## outlookis rainy and play is yes
df[(df['outlook']=='rainy')&(df['play']=='yes')]

  outlook  temp humidity  windy play
3   rainy  mild     high  False  yes
4   rainy  cool   normal  False  yes
9   rainy  mild   normal  False  yes

In [40]:
## temp either cool or mild
df[(df['temp']=='cool')|(df['temp']=='mild')]

     outlook  temp humidity  windy play
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
13     rainy  mild     high   True   no